.flexivel{
    display: flex;
    flex-wrap: wrap;
}
.bloco{
    background-color: rgb(60, 239, 111);
    flex: 1 1 300px;
    margin: 5px;
    padding: 5px;
    min-width: 200px;
    border-radius: 5pt;
    transition: 1s;
}
h3, p{ text-align: center;}
.bloco:hover{
    flex: 1 1 500px;
    background-color: blanchedalmond;
    transform: 1s;
}